* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px;
    width: 100vw;
}

.wrapper-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper-center {
    display: flex;
    flex-direction: row;
    justify-self: center;

}

.search-box {
    padding: 2px
}

.search-button {
    padding: 10px
}

.wrapper-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box {
    width: 348px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #CCC;
}

.search-button {
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 0 10px;
    cursor: pointer;
}


