* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    align-items: center;
    flex-shrink: 0;
}
